{% extends 'base.html'%}

{% block content %}
    <legend>Your Balance: ${% if fund %} {{fund.balance|floatformat:2}} {% endif %}</legend>
	<legend>Deposit Money</legend>
    
    {% if success %}
         <h3>You have successfully deposited money to your fund!</h3>
    {% elif error %}
        <h3> Error! Perhaps your transaction amount was greater than your balance <h3>
    {% endif %}

	<div>
	<form action="" method="post" class="horizontal">
        {% csrf_token %}
		<div class="form-group">
		  <label class="col-sm-2 control-label" for="deposit">Amount:</label>
		  <div class="col-sm-10">
			<input type="text"  class="form-control" name="deposit" id="deposit" required="required">
			<br>
		  </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="date">Date:</label>
          <div class="col-sm-10">
            <input type="date"  class="form-control" name="date" id="date" required="required">
            <br>
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="comment">Comment:</label>
            <div class="col-sm-10">
            <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
            <br>
        </div>
    
        <button type="submit" class="btn btn-secondary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>

    </form>
    </div>
	

 {% endblock %}
