
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PiggyBank</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css'%}">

	<link href="https://fonts.googleapis.com/css?family=Kavoon" rel="stylesheet" type='text/css'>
	
    <!-- Own Stylesheet Comes AFTER Bootstrap
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	-->
	<link rel="stylesheet" type="text/css" href="index.css">
</head>


	<body>
		<div id="wrapper">

			<header>
				<h1> PiggyBank </h1>
				<br>
				<br>
				<!--This location will probably need to be updated
				<img src="COMP730/project/templates/4052pige.jpg" height="900" width="900" alt="logo PiggyBank"> 
				-->
			</header>

			<h2>Welcome, [User]</h2>
			
			<p>Got your eye on an awesome video game? Want to see that great new movie everyone is talking about? <br><br> 
			If you have hard time saving your money or just want to keep track of where it all goes, 
			PiggyBank can help. Use it to record your savings, monitor your progress toward each goal, 
			and see what you've already bought. 
			
			 
			</p>

			<h3>Funds</h3> <br>
			<ul>
			<li>Add Money</li>
			<li>See Your Purchases</li> <br>
			</ul>

			<h3>Transactions</h3> <br>
			<ul>
			<li>New</li>
			<li>Edit</li>
			<li>Delete</li>
			<li>History</li> <br>
			</ul>

			<h3>Goals</h3> <br>
			<ul>
			<li>Add</li>
			<li>Edit</li>
			<li>Delete</li>
			<li>View Goals</li> <br>
			</ul>


			<ul>
				 
				 <li>  <a href="news.html">News</a> </li>
				 
			</ul>




		</div>
	</body>
</html>


