{% extends 'base.html' %}

{% block content %}

	
	<legend><h2>My Goals</h2></legend>


<div class="container-fluid">
	
    {% if goal_list %}
        <table class="table table-hover">
            {% for goal in goal_list %}
    	        <tr>
			        <td>{{goal.title}}</td>
			        <td>
				        <div class="progress">
					        <div class="progress-bar progress-bar-striped" role="progressbar"
						aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:{{ goal.get_percent_complete }}%">
						{{ goal.get_percent_complete }}%
					        </div>
				        </div>
			        </td>
                    <td>
                        {{ goal.current_saved }} / {{goal.goal_amount}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-info"><a href="{% url 'goalTracker:add_to_piggybank' goal.id %}">Add to Piggybank</a></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info"><a href="{% url 'goalTracker:edit_goal' goal.id %}">Edit</a></button>
                    </td>
		        </tr>        
            {% endfor %}
        </table>
    {% else %}
        You have no goals!
    {% endif %}
    
    
	
    <div>
	    <button type="button" class="btn btn-info"><a href="{% url 'goalTracker:add_goal' %}">Add New Goal</a></button>
    </div>


{% endblock %}

